@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  background-color: #251F47;
  font-size: large;
  font-family: "Open Sans", sans-serif;
  color: #EDFFEC;
}
.App {
  display: flex;
  margin-top: 2%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

body {
  margin:0;
  padding: 0;
}

.PlayerBoard {
  margin:2%;
  display: inline-grid;
  padding: 10px;
  background-clip: content-box; /* <---- */
  box-shadow: inset 0 0 0 10px #404E7C;
  grid-template-columns: auto auto auto;
  background-color: #80A1D4;
}

.box {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: #260F26;
  width: 150px;
  height: 150px;
  font-size: 30px;
  text-align: center;
}

.FaUndoAlt {
  order:1;
}

.gameResult {
  font-size: large;
}